<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add News</title>
    <link rel="stylesheet" href="style.css">
    <script th:src="@{/js/check.js}" type="text/javascript"></script>
</head>
<body>
 <div class="main-area">
        <div class=header>
            <h1>新增最新消息</h1>
        </div>
        <div class=button-area>
			<a href="/news_list_open">
				<button>返回</button>
			</a>
        </div>
        <div class="edit-area">
            <form th:action="@{/add_news}" th:object="${news}" method="post" id="addNewsForm">
                <label for="title" class="aligned-label">標題：</label>
                <input type="text" id="title" name="title" th:field="*{title}"><br>
                <label for="catalog" class="aligned-label">目錄：</label>
                <input type="text" id="catalog" name="catalog" th:field="*{catalog}"><br>
                <label for="subcatalog" class="aligned-label">子目錄：</label>
                <input type="text" id="subcatalog" name="subcatalog" th:field="*{subcatalog}"><br>
                <label for="content" class="aligned-label">內容：</label>
                <textarea id="content" name="content" th:field="*{content}"></textarea><br>
	            <input type="submit" value="新增" onclick="confirmAndSubmit()">
	        </form>
        </div>

    </div>
</body>
</html>