<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人情報</title>
<!-- 導入Bootstrap樣式表 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/person_info-style.css}" />
<script th:src="@{/js/message.js}" type="text/javascript"></script>
</head>
<body>
	<div class="container d-flex justify-content-center flex-column align-items-center w-75">
		<div class="mt-5 mx-5">
			<h1>個人情報</h1>
		</div>
		<nav class="mt-5 mx-5">
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">基本情報</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">在留情報</button>
				<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">給付情報</button>
			</div>
		</nav>
		<div class="tab-content mt-2 mx-5 d-flex justify-content-center w-75" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" th:object="${personInfo}">
				<table class="table table-hover mt-5 mx-5 w-75" style="table-layout: fixed;">
					<tr>
						<th class="text-start">マイナンバー</th>
						<td class="text-start align-middle"><span th:text="${personInfo.employeeNumber}"></span></td>
					</tr>
					<tr>
						<th class="text-start">名前</th>
						<td class="text-start align-middle"><span th:text="${personInfo.fullName}"></span></td>
					</tr>
					<tr>
						<th class="text-start">カタカナ</th>
						<td class="text-start align-middle"><span th:text="${personInfo.kanaName}"></span></td>
					</tr>
					<tr>
						<th class="text-start">ローマ字</th>
						<td class="text-start align-middle"><span th:text="${personInfo.romanizedName}"></span></td>
					</tr>
					<tr>
						<th class="text-start">国籍</th>
						<td class="text-start align-middle"><span th:text="${personInfo.nationality}"></span></td>
					</tr>
					<tr>
						<th class="text-start">性別</th>
						<td class="text-start align-middle"><span th:text="${personInfo.gender}"></span></td>
					</tr>
					<tr>
						<th class="text-start">生年月日</th>
						<td class="text-start align-middle"><span th:text="${personInfo.birthDate}"></span></td>
					</tr>
					<tr>
						<th class="text-start">入社日</th>
						<td class="text-start align-middle"><span th:text="${personInfo.joinDate}"></span></td>
					</tr>
					<tr>
						<th class="text-start">退職日</th>
						<td class="text-start align-middle"><span th:text="${personInfo.departureDate}"></span></td>
					</tr>
				</table>
			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" th:object="${extendedProfile}">
				<table class="table table-hover mt-5 mx-5 w-75" style="table-layout: fixed;">
					<tr>
						<th class="text-start">固定電話</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.telephone}"></span></td>
					</tr>
					<tr>
						<th class="text-start">携帯電話</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.mobilePhone}"></span></td>
					</tr>
					<tr>
						<th class="text-start">メールアドレス（社内）</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.companyEmail}"></span></td>
					</tr>
					<tr>
						<th class="text-start">メールアドレス（その他）</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.alternateEmail}"></span></td>
					</tr>
					<tr>
						<th class="text-start">郵便番号</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.postalCode}"></span></td>
					</tr>
					<tr>
						<th class="text-start">住所</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.address}"></span></td>
					</tr>
					<tr>
						<th class="text-start">パスポート番号</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.passportNumber}"></span></td>
					</tr>
					<tr>
						<th class="text-start">パスポート期限</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.passportExpiryDate}"></span></td>
					</tr>
					<tr>
						<th class="text-start">在留カード番号</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.residenceCardNumber}"></span></td>
					</tr>
					<tr>
						<th class="text-start">在留カード開始日付</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.residenceCardStartDate}"></span></td>
					</tr>
					<tr>
						<th class="text-start">在留カード終了日付</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.residenceCardExpirationDate}"></span></td>
					</tr>
					<tr>
						<th class="text-start">在留資格</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.residenceCardStatus}"></span></td>
					</tr>
				</table>
			</div>
			<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" th:object="${extendedProfile}">
				<table class="table table-hover mt-5 mx-5 w-75" style="table-layout: fixed;">
					<tr>
						<th class="text-start">雇用保険番号</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.employmentInsuranceNumber}"></span></td>
					</tr>
					<tr>
						<th class="text-start">年金番号</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.pensionNumber}"></span></td>
					</tr>
					<tr>
						<th class="text-start">銀行名称</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.bankName}"></span></td>
					</tr>
					<tr>
						<th class="text-start">本店名</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.storeName}"></span></td>
					</tr>
					<tr>
						<th class="text-start">口座番号</th>
						<td class="text-start align-middle"><span th:text="${extendedProfile.accountNumber}"></span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="mt-5 mx-5 d-flex justify-content-evenly" th:object="${personInfo}">
			<a th:href="@{/revise_person_info/{personId}(personId=${personInfo.employeeNumber})}" class="btn btn-primary mx-2">編集</a> 
			<a th:href="@{/person_list}" class="btn btn-primary mx-2">戻る</a>
		</div>
	</div>

	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script><script th:src="@{/js/message.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>