<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ニュース</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<div class="container d-flex justify-content-center flex-column align-items-center w-75">
		<div class="mt-5 mx-5">
			<h1>カタログ</h1>
		</div>
		<form th:action="${isNew ? '/add_news' : '/revise_news'}" th:object="${news}" method="post" id="Excute" class="w-100">
			<div class="d-flex justify-content-evenly">
				<div class="form-group">
					<label for="catalog" class="form-label text-end">カタログ</label>
					<select id="catalog" name="catalog" th:field="*{catalog}" class="form-control" required>
						<option th:each="option : ${catalogOptions}" th:value="${option.name}" th:text="${option.name}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="subcatalog" class="form-label text-end">サブカタログ</label>
					<select id="subcatalog" name="subcatalog" th:field="*{subcatalog}" class="form-control" required>
						<option th:each="option : ${subcatalogOptions}" th:value="${option.name}" th:text="${option.name}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="creator" class="form-label text-end">(原)編集者</label>
					<div th:switch="${isNew}">
						<input type="text" id="creator" name="creator" th:field="*{creator}" class="form-control" required>
					</div>
					<br>
				</div>
				<div class="form-group">
					<label for="creator" class="form-label text-end">編集者</label>
					<div th:switch="${isNew}">
						<input type="text" id="editor" name="editor" th:field="*{editor}" class="form-control" required>
					</div>
					<br>
				</div>
			</div>
			<div class="d-flex justify-content-evenly">
				<div class="form-group">
					<label for="importance" class="form-label text-end">重要性</label>
					<select id="importance" name="importance" th:field="*{importance}" class="form-control" required>
						<option value="3">普通</option>
						<option value="2">重要</option>
						<option value="1">最優先</option>
					</select> <br>
				</div>
				<div class="form-group">
					<label for="audienceLevel" class="form-label text-end">視聴者のレベル</label>
					<select id="audienceLevel" name="audienceLevel" th:field="*{audienceLevel}" class="form-control" required>
						<option value="1">全員</option>
						<option value="2">メンバー</option>
					</select> <br>
				</div>
				<div class="form-group">
					<label for="publishTime" class="form-label text-end">公開日時</label>
					<input type="datetime-local" id="publishTime" name="publishTime" th:field="*{publishTime}" class="form-control" th:value="${#dates.format(publishTime, 'yyyy-MM-ddTHH:mm')}" required>
					<div th:if="${#fields.hasErrors('publishTime')}" class="invalid-feedback">
						<span th:errors="*{publishTime}"></span>
					</div>
					<br>
				</div>
				<div class="form-group">
					<label for="expirationTime" class="form-label text-end">取り下げる日時</label>
					<input type="datetime-local" id="expirationTime" name="expirationTime" th:field="*{expirationTime}" class="form-control" th:value="${#dates.format(expirationTime, 'yyyy-MM-ddTHH:mm')}" required>
					<div th:if="${#fields.hasErrors('expirationTime')}" class="invalid-feedback">
						<span th:errors="*{expirationTime}"></span>
					</div>
					<br>
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="form-label text-end">タイトル</label>
				<input type="text" id="title" name="title" th:field="*{title}" class="form-control" required>
				<div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
					<span th:errors="*{title}"></span>
				</div>
				<br>
			</div>
			<div class="form-group">
				<label for="subtitle" class="form-label text-end">サブタイトル</label>
				<input type="text" id="subtitle" name="subtitle" th:field="*{subtitle}" class="form-control" required>
				<div th:if="${#fields.hasErrors('subtitle')}" class="invalid-feedback">
					<span th:errors="*{subtitle}"></span>
				</div>
				<br>
			</div>
			<div class="form-group">
				<label for="tags" class="form-label text-end">タグ</label>
				<input type="text" id="tags" name="tags" th:field="*{tags}" class="form-control" required>
				<br>
			</div>
			<div class="form-group">
				<label for="content" class="form-label text-end">本文</label>
				<textarea id="content" name="content" th:field="*{content}" class="form-control" rows="20" style="height: auto;" required></textarea>
				<div th:if="${#fields.hasErrors('content')}" class="invalid-feedback">
					<span th:errors="*{content}"></span>
				</div>
				<p id="charCount">字符数：0 /1000</p>
				<br>
			</div>
			<div class="d-flex justify-content-evenly">
				<input type="submit" id="submitButton" class="btn btn-primary" value="確認" onclick="confirmAndSubmit()">
				<a th:href="@{/news_list}" class="btn btn-primary">戻る</a>
			</div>
		</form>
	</div>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/news-edit.js}" type="text/javascript"></script>
</body>
</html>