body {
    width: 100%;
    background: #f8eaea;
    margin: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    
}