<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ニュースリスト</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<div class="container d-flex justify-content-center flex-column align-items-center w-100">
		<div class="mt-5 mx-5">
			<h1>ニュースリスト</h1>
		</div>
		<div class="d-flex justify-content-center">
			<a th:href="@{/home}" class="btn btn-primary mx-5">ホーム</a>
			<a th:href="@{/add_news}" class="btn btn-primary mx-5">新規追加</a>
			<a th:href="@{/catalog_list}" class="btn btn-primary mx-5">カタログリスト</a>
			<a class="btn btn-primary mx-5" onclick="confirmDelete()">削除</a>
		</div>
		<table class="table table-hover mt-5 w-100" style="table-layout: auto;">
			<tr>
				<th class="text-center">ニュースID</th>
				<th class="text-center">カタログ</th>
				<th class="text-center">サブカタログ</th>
				<th class="text-center">タイトル</th>
				<th class="text-center">作成日時</th>
				<th class="text-center">作者</th>
				<th class="text-center">公開日時</th>
				<th class="text-center">操作</th>
				<th class="text-center">選ぶ</th>
			</tr>
			<tr th:each="news : ${newsList}" th:object="${news}" th:if="${!news.deleteFlag}">
				<td class="text-center align-middle" th:text="*{newsId}"></td>
				<td class="text-center align-middle" th:text="*{catalog}"></td>
				<td class="text-center align-middle" th:text="*{subcatalog}"></td>
				<td class="text-center align-middle" th:text="*{title}"></td>
				<td class="text-center align-middle" th:text="*{#temporals.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<td class="text-center align-middle" th:text="*{creator}"></td>
				<td class="text-center align-middle" th:text="*{#temporals.format(publishTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<td class="text-center align-middle">
					<a th:href="@{/revise_news/{newsId}(newsId=*{newsId})}">編集</a>
				</td>
				<td class="text-center align-middle">
					<input type="checkbox" class="news-checkbox" th:value="*{newsId}">
				</td>
			</tr>
		</table>
		<div>
			<ul>
				<li>
					<a th:href="'/news-list?pageNum=0&pageSize=' + ${pageSize}">首頁</a>
				</li>
				<li th:if="${newsList.hasPrevious()}">
					<a th:href="'/news-list?pageNum=' + ${newsList.previousPageable().getPageNumber()} +'&pageSize=' + ${pageSize}">上一頁</a>
				</li>
				<li th:each="pageNum:${#numbers.sequence(0,newsList.getTotalPage()-1)}">
					<a th:href="'/news-list?pageNum=' + ${pageNum} +'&pageSize=' + ${pageSize}" th:text="${pageNum+ 1}"
						th:if="${pageNum ne newsList.pageable.getRageNumber()}"></a>
					<a th:href="'/news-list?pageNum=' + ${pageNum} +'&pageSize=' + ${pageSize}" th:text="${pageNum+ 1}"
						th:if="${pageNum eq newsList.pageable.getRageNumber()}" th:style="'font-weight:bold; background: #6fae9'"></a>
				</li>
				<li th:if="${newsList.hasNext()}">
					<a th:href="'/news-list?pageNum=' + ${newsList.nextPageable().getPageNumber()} +'&pageSize=' + ${pageSize}">下一頁</a>
				</li>
				<li>
					<a th:href="'/news-list?pageNum=' + ${newsList.getTotalPage()-1} + '&pageSize=' + ${pageSize}">尾頁</a>
				</li>
			</ul>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/check.js}" type="text/javascript"></script>
</body>
</html>
