<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人情報</title>
<!-- 導入Bootstrap樣式表 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/person_info-style.css}" />
</head>
<body>
	<div class="container d-flex justify-content-center flex-column align-items-center w-75">
		<div class="mt-5 mx-5">
			<h1>基本情報</h1>
		</div>
		<form th:action="${isNew ? '/add_person_info' : '/revise_person_info'}" th:object="${personInfo}" method="post" id="addForm">
			<div >
				<label class="form-label text-end">マイナンバー</label> <span th:text="*{employeeNumber}"></span>
			</div>
			<div class="box">
				<label for="fullName" class="form-label text-end">名前</label> <input type="text" id="fullName" name="fullName" th:field="*{fullName}"> <br>
			</div>
			<div >
				<label for="kanaName" class="form-label text-end">カタカナ</label> <input type="text" id="kanaName" name="kanaName" th:field="*{kanaName}"> <br>
			</div>
			<div >
				<label for="romanizedName" class="form-label text-end">ローマ字</label> <input type="text" id="romanizedName" name="romanizedName" th:field="*{romanizedName}"> <br>
			</div>
			<div >
				<label for="nationality" class="form-label text-end">国籍</label> <input type="text" id="nationality" name="nationality" th:field="*{nationality}"> <br>
			</div>
			<div >
				<label for="gender" class="form-label text-end">性別</label> <select id="gender" name="gender" th:field="*{gender}">
					<option value="男">男性</option>
					<option value="女">女性</option>
				</select>
			</div>
			<div >
				<label for="birthDate" class="form-label text-end">生年月日</label> <span th:text="${formattedBirthDate}"></span> <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}"> <br>
			</div>
			<div >
				<label for="joinDate" class="form-label text-end">入社日</label> <span th:text="${formattedJoinDepartureDate}"></span> <input type="date" id="joinDate" name="joinDate" th:field="*{joinDate}"> <br>
			</div>
			<div >
				<label for="departureDate" class="form-label text-end">退職日</label> <span th:text="${formattedDepartureDate}"></span> <input type="date" id="departureDate" name="departureDate" th:field="*{departureDate}"> <br>
			</div>
			<div class="d-flex justify-content-evenly">
				<input type="submit" class="btn btn-primary" value="確認" onclick="confirmAndSubmit()"> <a th:href="@{/person_list}" class="btn btn-primary">戻る</a>
			</div>
		</form>
	</div>
	
	<script th:src="@{/js/message.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>