<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人情報</title>
<!-- 導入Bootstrap樣式表 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/person_info-style.css}" />
<script th:src="@{/js/message.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
	<div class="container d-flex justify-content-center flex-column align-items-center w-75">
		<div class="mt-5 mx-5">
			<h1>検索</h1>
		</div>
		<div class="mt-5 mx-5 w-75">
			<form th:action="${'/find_person'}" th:object="${search}" method="post">
				<label for="name">名前</label> <input type="text" id="name" name="name" th:field="*{name}"> <input type="submit" value="搜尋" class="btn btn-primary">
			</form>
		</div>
		<table class="table table-hover mt-5 mx-5 w-75" style="table-layout:fixed;">
			<tr>
				<th class="text-center">マイナンバー</th>
				<th class="text-center">名前</th>
				<th class="text-center">詳細</th>
				<th class="text-center">削除</th>
			</tr>
			<tr th:each="person : ${person_list}">
				<td class="text-center align-middle" th:text="${person.employeeNumber}"></td>
				<td class="text-center align-middle" th:text="${person.fullName}"></td>
				<td class="text-center align-middle"><a th:href="@{/show_person_info(personId=${person.employeeNumber})}">詳細</a></td>
				<td class="text-center align-middle"><a href="#" th:onclick="'deletePersonInfo(' + ${person.employeeNumber} + ')'">削除</a></td>
			</tr>
		</table>
		<div class="d-flex justify-content-center">
			<a th:href="@{/add_person_info}" class="btn btn-primary mx-5">新規追加</a>
		</div>
	</div>

</body>
</html>